*{
    text-align:center;
    font-family: 'Roboto Slab', serif;
    }
    body{
        background-color:skyBlue;
        }
    img{
    width:500px;
    height:500px;
    }
h1{
     font-family: 'Bungee', cursive;     
     color:blue;
     text-align:center;
}
 h2 {
     font-family: 'Bangers', cursive;
     color:blue;
     text-align:center;
     padding-left:16px;
}

div{
    width:500px;
    height:666px;
    Background-color:blue;
}
     
    
         